.form_wrapper {
  width: 100%;
  height: 300%;
  display: flex;
  justify-content: center;
}
.form_input {
  margin-bottom: 2em;
  font-weight: bold;
  width: 100%;
  height: 10%;
}
.form_input label {
  margin-right: 5em;
  flex-basis: 20%;
}

.form_input input {
  flex: 1;
}

.submit_button {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit_button:hover {
  color: darkgray;
  background-color: black;
}

.form_data_display {
  font-weight: bold;
  font-size: 20px;
}
